body{
	background-color: rgb(0, 0, 0);
	background-color: #18122B;
	color: white;
	margin: 0px;
	text-align: center;
	font-family: sans-serif;
	box-sizing: border-box;
}

p{
	font-size: 20px;
	font-family: 'Kalam', cursive;
}

h1{
	
	font-size: 3.75rem;
	margin-top: 50px;
	font-family: 'Great Vibes', cursive;
	color: #046582;
}

h2{
	font-size: 2rem;
	font-family: 'Kalam', cursive;
	color: #ffffff;
	font-weight: normal;
}
h3{
	color: #046582;
	font-size: 2rem;
}
div.d1{
	background-color: #BAD7E9;
	position: relative;
	padding: 120px;
}

.top-cloud{
	position: absolute;
	width: 100px;
	right: 200px;
	top: 120px;
}
.bottom-cloud{
	position: absolute;
    width: 100px;
    top: 200px;
}
.mountain{
	width: 800px;
	height: 350px;
}

.profile{
	
	text-align: center;
}


.hrline{
	width: 5%;
	border-style: dotted none none none;
	border-color: gray;
	border-width: 5px;
}
.main_footer
{
	background-color: #BAD7E9;
	margin-top: 20px;
	text-align: center;
}

.main_footer_links
{
	list-style: none;
}

.main_footer_link
{
	display: inline-block;
	margin: 0px 20px;
}

.footer-link{
	margin: 3px;
}

.di2{
	float: left;
	width: 40%;
	text-align: justify; 
	margin: 6px;
}

.di3{
	float: right;
	width: 40%;
	padding: 70px 50px;
}


.box{
	width: 304px;
	height: 330px;
	background-color: #4D455D;
	opacity: 0.5;
	border-radius: 10px;
}
.box:hover{
	transition-delay: 1;
	opacity: 1;
}
.img-div{
	position: absolute;
}
.imgP{
	border-radius: 10px;
}


.ul{
	display: flex;
	text-align: center;
}

.profile1{
	display: inline-block;
	margin: 0px 200px;
}

.appPic{
	height: 400px; 
	width: 800px;
	margin: 20px;
}

.odd{
	float: right;
	width: 50%;
	margin-right: 4%;
	background-color: #4D455D;
	opacity: 0.5;
}
.odd:hover{
	transition-delay: 1;
	opacity: 1;
}
.even{
	float: left;
	width: 50%;
	margin-left: 4%;
	background-color: #4D455D;
	opacity: 0.5;
}
.even:hover{
	transition-delay: 1;
	opacity: 1;
}

.appInfo{
	height: 500px;
}

.AppDescL{
	float: left;
	width: 20%;
	text-align: center;
	margin: 8% 10%;
}

.AppDescR{
	float: right;
	width: 20%;
	text-align: center;	
	margin: 8% 10%;
}

.AppDescHeading{
	font-size: 50px;
	margin-top: 5%;
	color: #2db7dc;
	margin-bottom: 0;
}

.accounts{
	width: 50px;
	height: 50px;
	margin-top: 5%;
}

.btn {
	font-family: Georgia;
	color: #18122B;
	background: #e1e5e8;
	padding: 1px 2px;
	text-decoration: none;
  }
  
  .btn:hover {
	color: white;
	background: #046582;
	text-decoration: none;
  }

.btnText{
	font-size: 20px;
	font-family: 'Kalam', cursive;
	margin: 0px
}

.creater{
	color: #046582;
}